body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #0a143a;
}
.container {
  max-width: 1146px;
  margin: auto;
}
.header {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 12px;
}
.navbar-panel {
  flex-grow: 1; /* растянуть по ширине  */
  display: flex;
  align-items: center;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.navbar-menu {
  margin-right: auto;
}
.menu {
  list-style: none;
  margin: 0;
  padding-left: 22px;
  padding-right: 22px;
  display: flex;
}
.menu-item:not(:last-child) {
  margin-right: 14px;
}
.menu-link {
  text-decoration: none;
  color: #0a143a;
}
.button {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}
.button-link {
  color: inherit;
}
.button-primary {
  background-color: #256eeb;
  border-radius: 5px;
  color: #fff;
}
.search-panel {
  height: 50px;
  background-color: #256eeb;
  border-radius: 5px;
  display: flex;
  padding: 3px;
}
.search-input {
  flex-grow: 1;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  padding-inline-end: 22px;
  padding-left: 22px;
}
.search-button {
  background-color: #256eeb;
  border: none;
  color: #fff;
  padding-left: 20px;
  padding-right: 17px;
  display: flex;
  align-items: center;
}
.search-button-text {
  margin-left: 5px;
}
.page-content {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-column-gap: 10px;
}
.card-image {
  border-radius: 10px;
  width: 264px;
  height: 178px;
  object-fit: cover; /* усли картина не совпадает-обрезается*/
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin-bottom: 20px;
  margin-right: 20px;
}

.card-title {
  font-weight: Bold;
  font-size: 16px;
  line-height: 19px;
  color: #256eeb;
  margin-top: 12px;
  margin-bottom: 5px;
  max-width: 195px;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.like {
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 15px;
}
.card-link {
  text-decoration: none;
}
.card-price {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}
.card-text {
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  margin-top: 0;
  margin-bottom: 4px;
}
.sidebar .page-title {
  font-size: 18px;
  line-height: 21px;
}
.service {
  margin-bottom: 25px;
}
.service-title {
  margin-top: 7px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}
.service-text {
  font-size: 14px;
  line-height: 16px;
  max-width: 217px;
}
.footer-text {
  display: inline-block;
  color: #c4c4c4;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 5px;
}
.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 16px;
}
.footer-link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  margin-bottom: 5px;
}
.main-single {
  display: flex;
  align-items: flex-start;
}
.content {
  max-width: 460px;
  margin-right: 30px;
}
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  width: 100%;
  border-radius: 10px;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  border-radius: 10px;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}
.content-text {
  font-size: 14px;
  line-height: 140%;
}
.single-price {
  display: block;
  font-size: 24px;
  line-height: 28px;
  margin-top: 0px;
  margin-bottom: 25px;
}
.page-title {
  margin-top: 0px;
  margin-bottom: 25px;
}
.author {
  min-width: 264px;
}
.author-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 25px;
  margin-bottom: 30px;
}
.author-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover; /*чтобы картина не обрезалась*/
}
.author-name {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}
.raiting {
  margin-bottom: 5px;
}
.raitng-counter {
  margin-left: 10px;
  opacity: 0.5;
}
.status {
  font-size: 12px;
}
.button-block {
  display: block;
  width: 100%;
  height: 54px;
  margin-bottom: 14px;
  border: none;
}
.button-success {
  background-color: #14b4be;
  border-radius: 5px;
  color: #fff;
}
.menu-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  display: none; /* отключаем кнопку везде  */
}
.close-menu {
  display: none;
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .card {
    width: 45%;
  }
  .card-image {
    width: 100%;
    height: 200px;
  }
  .content {
    /* max-width: 350px; */
    max-width: 45%;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 740px;
  }
  .card-image {
    width: 100%;
    height: 150px;
  }
  .content {
    /* max-width: 420px; */
    max-width: 90%;
  }

  .main-single {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }
  .card {
    width: 100%;
  }
  .page-content {
    grid-template-columns: 8fr 4fr;
  }
  .single-page-content {
    grid-template-columns: 12fr;
  }
  .main-single {
    align-items: initial;
  }
  .content {
    max-width: 560px;
    margin-right: 0;
  }
  .swiper-container {
    width: 560px;
  }
  .author,
  .sidebar {
    max-width: 560px;
  }
  .sidebar-banner {
    display: flex;
    justify-content: space-between;
    max-width: 560px;
  }
  .menu-button {
    display: block;
  }
  .navbar-panel {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s, opacity 0.2s;
    transform: translateX(-100%); /* уберем меню в сторону */
    opacity: 0; /* меню не видно  */
  }
  .is-open {
    transform: translateX(0%); /*   меню появляется */
    opacity: 1;
  }
  .navbar-menu {
    margin-left: auto;
    margin-bottom: 20px;
  }
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .button-group {
    display: flex;
    flex-direction: column;
  }
  .close-menu {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    background-color: #fff;
    border: none;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 90%;
  }

  .page-content {
    grid-template-columns: 12fr;
  }

  .swiper-container {
    width: 100%;
  }

  .card-image {
    height: 250px;
  }
  .card {
    margin-right: 0;
  }
  .search-button-text {
    display: none;
  }

  .sidebar-banner {
    max-width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
